<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Boost Burger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YemekSiparis.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        body {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #ffc107;
            font-family: 'Montserrat', serif;
            color: #333;
            transition: background-color 0.5s, color 0.5s;
        }

        header {
            background-color: #d9534f;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            font-family: 'Righteous', cursive;
            color: #fff;
            font-weight: bold;
            font-size: 2rem;
            transition: color 0.3s ease-in-out;
        }

        .navbar-toggler-icon {
            background-color: #fff;
        }

        .navbar-nav {
            flex-grow: 1;
            justify-content: flex-end;
        }

        .nav-item {
            margin-right: 15px;
        }

        .nav-link {
            color: #fff !important;
            font-weight: bold;
            transition: color 0.3s ease-in-out;
        }

            .nav-link:hover {
                color: #ffc107 !important;
            }

        .container {
            background: inherit;
            border-radius: 8px;
            padding: 5px;
            box-sizing: border-box;
            transition: box-shadow 0.5s;
        }

        footer {
            background-color: #d9534f;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container">
                <a class="navbar-brand d-inline-flex" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="d-inline-block" src="~/assets/logo.svg" alt="logo" />
                    <span class="text-1000 fs-3 fw-bold ms-2 text-gradient text-warning">BOOST BURGER</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            if (Context.User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="UserProfile" asp-action="Index">
                                        <i class="fas fa-user"></i> Profil
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Buy" asp-action="Payment">
                                        <i class="fas fa-shopping-basket"></i> Sepet
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Basket" asp-action="Menu">
                                        <i class="fas fa-list"></i> Menü
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" href="/Admin/Home">
                                        <i class="fas fa-list"></i> Admin
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Login" asp-action="Logout">
                                        <i class="fas fa-sign-out-alt"></i> Çıkış
                                    </a>
                                </li>
                            }
                            else if (Context.User.IsInRole("User"))
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Basket" asp-action="Menu">
                                        <i class="fas fa-list"></i> Menü
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Buy" asp-action="Payment">
                                        <i class="fas fa-shopping-basket"></i> Sepet
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="UserProfile" asp-action="Index">
                                        <i class="fas fa-user"></i> Profil
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Login" asp-action="Logout">
                                        <i class="fas fa-sign-out-alt"></i> Çıkış
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-home"></i> Ana Sayfa
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <i class="fas fa-info"></i> Hakkımızda
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light animate__animated animate__fadeIn" asp-area="" asp-controller="Login" asp-action="Index">
                                    <i class="fas fa-sign-in-alt"></i> Giriş Yap
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4 animate__animated animate__fadeIn">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center mt-4 animate__animated animate__fadeIn">
        <div class="container">
            &copy; @DateTime.Now.Year - BilgeAdam Boost<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
