@model ResetPasswordVM
@{
	Layout = null;
}



<!DOCTYPE html>
<html>

<!-- Head -->
<head>


	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>Yemek Sepeti - Yeni Kullanıcı Kaydı</title>

	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<link href="~/register/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

	<!-- Style -->
	<link rel="stylesheet" href="~/register/css/style.css" type="text/css" media="all">

	<!-- Fonts -->
	<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<!-- //Fonts -->

</head>
<!-- //Head -->
<!-- Body -->
<body>

	<h1>Şifremi Unuttum</h1>

	<div class="w3layoutscontaineragileits">
		<h2>Yeni Şifre</h2>
		<form method="post">

			<input type="password" asp-for="Password" placeholder="Yeni şifrenizi giriniz" required="">
			<input type="password" asp-for="ConfirmPassword" placeholder="Yeni şifrenizi tekrar giriniz" required="">


			<div class="text-white" asp-validation-summary="ModelOnly"></div>
			<br />
			<br />


			<ul class="agileinfotickwthree">
				<li>

					<a href="/Login/Index/">Giriş Ekranına Dön</a>
				</li>
			</ul>
			<div class="aitssendbuttonw3ls">
				<input type="submit" value="GÖNDER">
				<div class="clear"></div>
			</div>
		</form>
	</div>








	<div class="w3footeragile">
		<p> &copy; @DateTime.Now.Year Yemek Sepeti Giriş Paneli. Tüm Hakları Saklıdır </p>
	</div>




</body>
<!-- //Body -->

</html>


