@using YemekSiparis.BLL.Models.DTOs;
@model List<ExtraListDTO>
@{
    ViewData["Title"] = "Index";
}

<h1 class="m-4">Extra Malzeme</h1>

<div class="card m-auto">
    <div class="card-header">
        <i class="fa-solid fa-mug-saucer"></i>
        Extra
        <button><a href="/Admin/Extra/Create" style="color: black"><i class="fa-solid fa-plus"></i></a></button>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Malzeme Adı</th>
                    <th>Fiyatı (₺)</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Malzeme Adı</th>
                    <th>Fiyatı</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (ExtraListDTO item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>
                            <a class="btn"  href="/Admin/Extra/Update?Id=@item.Id"><i class="fa-solid fa-pen"></i></a>
                            <a class="btn" href="/Admin/Extra/Delete?Id=@item.Id"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

