@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .welcome-container {
        text-align: center;
        padding: 50px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<body>

    <div class="welcome-container">
        <h1>Admin Paneline Hoş Geldiniz</h1>
        <p>Yandaki panelden kontrol işlemlerini yapabilirsiniz.</p>
    </div>

</body>